@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap");


body{
    background-color: #ffff;
    margin: 0;
    padding: 0;

}

#box-container {
    height: 500px;
    display: flex;
  }

.logo{
    margin: auto;
    position: absolute;
    width: 111.17px;
    height: 27.68px;
    left: 165.79px;
    top: 38.75px;
   
}

.logo img{
    width: 80px;
}

.top-left{
    width: 50%;
}

.top-right{
    width: 50%;
    text-align: right;
    background-image: url(../assets/img-1.png);
    background-position: top right;
    background-repeat: no-repeat;
    height: 791px;
}

.top-btn{
    position: absolute;
    width: 100px;
    right: 220px;
    top: 24px;
    background-color: #13183F;
    border-radius: 28px;
    text-align:center;
    padding: 10px;
    color: #FFFFFF;
    font-family:'Plus Jakarta Sans';
    font-size: 15px;
    line-height: 28px;
}

.top-btn:hover{
    background: #666CA3;
    border-radius: 28px;
}

.maxskill-title{
    position: absolute;
    height: 143px;
    left: 165.79px;
    top: 160px;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 56px;
    line-height: 71px;
    color: #13183F;
}

.maxskill-details{
    position: absolute;
    height: 84px;
    left: 165.79px;
    top: 320px;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #83869A;
}

.maxskill-btn{
    position: absolute;
    width: 100px;
    left: 165.79px;
    top: 430px;
    background: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
    border-radius: 31.5px;
    font-family:'Plus Jakarta Sans';
    font-size: 15px;
    line-height: 28px;
    padding: 10px;
    color: #FFFFFF;
    text-align:center;
}

.maxskill-btn:hover{

background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
border-radius: 31.5px;
}

#box-container a:link{
    text-decoration: none;
    color: #FFFFFF;
}


.service-container{
    width: 100%;
    background: linear-gradient(180deg, #FFFFFF 0%, #F0F1FF 100%);
    margin-top: 360px;
    
}

.service-inner{
    margin-left: 165px;
    margin-right: 165px;
    display: flex;

}

.services{
    flex: 1 350px;
    height: 322px;
    left: 0px;
    top: 0px;
    border-radius: 15px;
    box-shadow: 0px 25px 50px rgba(6, 22, 141, 0.0442381);
    margin-right: 30px;
    position: relative;
    background: #FFFFFF;
}

.service-inner div:last-child {
    margin-right: 0px !important;
}

.initial-service{
    background: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
}

.initial-service-text{
    height: 120px;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 32px;    
    line-height: 40px;
    color: #FFFFFF;
    margin-left: 32px;
    margin-top: 64px;
}

.service-icon{
    position: absolute;
    width: 56px;
    height: 56px;
    top: -30px;
    left: 20px;
}

.service-text-holder{

    width: 286px;
    height: 218px;
    margin: 64px  32px 0 32px;
}

.service-text-header{
    position: relative;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 30px;
    color: #13183F;
    margin-top: 10px;
}

.service-text-content{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #83869A;
}

.link-container{
    margin-top: -25px;
    margin-left: 32px;
}

.service-text-link{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: #F74780;
    text-decoration: none;
}

.service-text-link:hover{
    color: #FFA7C3;
}


.service-container .service-inner:last-child{
    margin-top: 80px;
    padding-bottom: 120px;
}


footer{
    
    width: 100%;
    height: 120px;
    background: #13183F;
    display: flex;
}

.footer-logo-inner{
    margin-left: 165px;
    margin-top: 40px;
    float: left;

}

.footer-btn-inner{
    margin-right: 165px;
    margin-top: 40px;
    float: right;

}
.footer-logo{
    width: 111.17px;
    height: 27.68px;
}

.footer-btn{
    position: absolute;
    right: 180px;
    background: linear-gradient(180deg, #4851FF -54.32%, #F02AA6 100%);
    border-radius: 28px;
    height: 46px;
    width: 167px;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
    text-align: center;
    padding-top: 12px;


}

.footer-btn a:link{
    text-decoration: none;
    color: #FFFFFF;
}

.footer-btn:hover{
background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(180deg, #4851FF -54.32%, #F02AA6 100%);
border-radius: 28px;
}

/* Devices Type Tablets and Ipads */
@media screen and (max-width: 768px){

    body {
        color:aqua;
      }
    
    
    
}
