@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap");


body{
    background-color: #ffff;
    margin: 0;
    padding: 0;

}

 .container {
    height: 500px;
    display: flex;
    flex-direction: row;
  }

.logo{
    margin: auto;
    position: absolute;
    width: 111.17px;
    height: 27.68px;
    left: 165.79px;
    top: 38.75px;
   
}

.logo img{
    width: 80px;
}


.maxskill{
    width: 50%;
}


.max-image{
    background-image: url(../assets/img-1.png);
    background-position: top right;
    background-repeat: no-repeat;
    height: 791px;
    width: 50%;
}

.top-btn{
    position: absolute;
    width: 100px;
    right: 220px;
    top: 24px;
    background-color: #13183F;
    border-radius: 28px;
    text-align:center;
    padding: 10px;
    color: #FFFFFF;
    font-family:'Plus Jakarta Sans';
    font-size: 15px;
    line-height: 28px;
    cursor: pointer;
}

.top-btn:hover{
    background: #666CA3;
    border-radius: 28px;
}



.maxskill-title{
    position: absolute;
    height: 143px;
    left: 165.79px;
    top: 160px;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 56px;
    line-height: 71px;
    color: #13183F;
}

.maxskill-details{
    position: absolute;
    height: 84px;
    left: 165.79px;
    top: 320px;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #83869A;
}

.maxskill-btn{
    position: absolute;
    width: 100px;
    left: 165.79px;
    top: 430px;
    background: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
    border-radius: 31.5px;
    font-family:'Plus Jakarta Sans';
    font-size: 15px;
    line-height: 28px;
    padding: 10px;
    color: #FFFFFF;
    text-align:center;
    cursor: pointer;
}

.maxskill-btn:hover{

background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
border-radius: 31.5px;
}


.top-btn a{
    text-decoration: none;
    color: #FFFFFF;
}

.maxskill-btn a{
    text-decoration: none;
    color: #FFFFFF;
}

.service-container{
    width: 100%;
    background: linear-gradient(180deg, #FFFFFF 0%, #F0F1FF 100%);
    margin-top: 360px;
    
}

.service-inner{
    margin-left: 165px;
    margin-right: 165px;
    display: flex;

}

.services{
    flex: 1 350px;
    height: 322px;
    left: 0px;
    top: 0px;
    border-radius: 15px;
    box-shadow: 0px 25px 50px rgba(6, 22, 141, 0.0442381);
    margin-right: 30px;
    position: relative;
    background: #FFFFFF;
}


.initial-service{
    background: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
}

.initial-service-text{
    height: 120px;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 32px;    
    line-height: 40px;
    color: #FFFFFF;
    margin-left: 32px;
    margin-top: 64px;
}

.service-icon{
    position: absolute;
    width: 56px;
    height: 56px;
    top: -30px;
    left: 20px;
}

.service-text-holder{

    width: 286px;
    height: 218px;
    margin: 64px  32px 0 32px;
}

.service-text-header{
    position: relative;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 30px;
    color: #13183F;
    margin-top: 10px;
}

.service-text-content{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #83869A;
}

.link-container{
    margin-top: -25px;
    margin-left: 32px;
}

.service-text-link{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: #F74780;
    text-decoration: none;
}

.service-text-link:hover{
    color: #FFA7C3;
}


.service-container .service-inner:last-child{
    margin-top: 80px;
    padding-bottom: 120px;
}


footer{
    
    width: 100%;
    height: 120px;
    background: #13183F;
    display: flex;
}

.footer-left{
    margin-left: 165px;
    margin-top: 40px;

}

.footer-right{
    margin-right: 165px;
    margin-top: 40px;
    float: right;

}
.footer-logo{
    width: 111.17px;
    height: 27.68px;
}

.footer-btn{
    position: absolute;
    right: 180px;
    background: linear-gradient(180deg, #4851FF -54.32%, #F02AA6 100%);
    border-radius: 28px;
    height: 46px;
    width: 167px;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
    text-align: center;
    padding-top: 12px;
    cursor: pointer;


}

.footer-btn a{
    text-decoration: none;
    color: #FFFFFF;
}

.footer-btn:hover{
background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(180deg, #4851FF -54.32%, #F02AA6 100%);
border-radius: 28px;
}

/* Smartphones (portrait and landscape) ---------- */
@media screen and (min-width: 320px) and (max-width: 425px){
   
    .container {
        width: 100%;
        display: flex;
        flex-direction: column;
        min-height: 800px;
        margin-bottom: 0px;
    }

    .logo{
        margin: auto;
        position: absolute;
        width: 111.17px;
        height: 27.68px;
        left: 16px;
        top: 16px;
       
    }

    .top-btn{
        position: absolute;
        width: 100px;
        right: 16px;
        top: 16px;
        background-color: #13183F;
        border-radius: 28px;
        text-align:center;
        padding: 10px;
        color: #FFFFFF;
        font-family:'Plus Jakarta Sans';
        font-size: 15px;
        line-height: 28px;
    }
    
    .logo img{
        width: 80px;
        padding: 16px;
    }

    
    
    .maxskill{
        width: 100%;
        flex: 1;
    }

    .maxskill-title{
        position: absolute;
        width: 343px;
        height: 101px;
        left: 16px;
        top: 102px;
        font-family: 'Plus Jakarta Sans';
        font-style: normal;
        font-weight: 800;
        font-size: 40px;
        line-height: 50px;
        color: #13183F;
    }
    
    .maxskill-details{
        position: absolute;
        width: 350px;
        height: 78px;
        left: 16px;
        top: 229px;
        font-family: 'Plus Jakarta Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 26px;
        color: #83869A;
    }

    .maxskill-btn{
        position: absolute;
        width: 167px;
        height: 25px;
        left: 16px;
        top: 331px;
        background: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
        border-radius: 31.5px;
        font-family:'Plus Jakarta Sans';
        font-size: 15px;
        line-height: 16px;
        color: #FFFFFF;
        text-align:center;
        padding-top: 15px;
    }


    .max-image{
    background-image: url(../assets/img-2.png);
    background-position: top;
    background-repeat: no-repeat;
    height: 301px;
    left: 24px;
    width: 100%;
    flex: 1;
    margin-top: 0px;
    padding: 0px;
    }


    .service-container{
        width: 100%;
        background: linear-gradient(180deg, #FFFFFF 0%, #F0F1FF 100%);
        margin-top: 0px !important;
    }

    .service-inner{
        margin-left: 16px;
        margin-right: 16px;
        display: flex;
        flex-direction: column;
    
    }
    
    .services{
        left: 0px;
        top: 0px;
        border-radius: 15px;
        box-shadow: 0px 25px 50px rgba(6, 22, 141, 0.0442381);
        margin-right: 0px;
        margin-top: 16px;
        margin-bottom: 16px;
        position: relative;
        background: #FFFFFF;
    }

    .service-icon{
        position: absolute;
        width: 56px;
        height: 56px;
        top: -20px;
        left: 20px;
    }

    .initial-service{
        background: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
        height: 120px;
        flex: 1 120px;
    }
    
    .initial-service-text{
        height: 120px;
        font-family: 'Plus Jakarta Sans';
        font-style: normal;
        font-weight: 800;
        font-size: 24px;    
        line-height: 32px;
        color: #FFFFFF;
    }

    .service-text-holder{
        width: 286px;
        height: 78px;
        margin: 64px  32px 0 32px;
    }

    .service-text-holder-mobile{
        position: absolute;
        top: -30px;
        width: 286px;
        height: 64px !important;
        margin: 0px  29px 0px 0px !important;
        padding: 0px;
        
    }

    .disable-link-break{
        display: none;
    }
    
    .service-text-header{
        position: relative;
        font-family: 'Plus Jakarta Sans';
        font-style: normal;
        font-weight: 800;
        font-size: 24px;
        line-height: 30px;
        color: #13183F;
        margin-top: 10px;
    }
    
    .service-text-content{
        font-family: 'Plus Jakarta Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 28px;
        color: #83869A;
    }
    
    .link-container{
        margin-top: 125px;
        margin-left: 32px;
        
    }
    
    .service-text-link{
        font-family: 'Plus Jakarta Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 28px;
        color: #F74780;
        text-decoration: none;
    }

    .service-inner:last-child{
        margin-top: 0px !important;
        padding-bottom: 120px;
    }


    footer{
    
        width: 100%;
        height: 120px;
        background: #13183F;
        display: flex;
        flex-direction: row;
    }

    .footer-left{
        margin-left: 16px;
        margin-top: 40px;
        float: left;
    }
    
    .footer-right{
        margin-right: 16px;
        margin-top: 30px;
    
    }

    .footer-logo{
        width: 98px;
        height: 27.68px;
    }

    .footer-btn{
        position: absolute;
        right: 16px;
        background: linear-gradient(180deg, #4851FF -54.32%, #F02AA6 100%);
        border-radius: 28px;
        height: 46px;
        width: 140px;
        font-family: 'Plus Jakarta Sans';
        font-style: normal;
        font-size: 18px;
        line-height: 28px;
        color: #FFFFFF;
        text-align: center;
        padding-top: 12px;
    
    
    }
    


}

/* Tablets, iPads (portrait) ---------- */
@media screen and (min-width: 425px) and (max-width: 768px){
  
   .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 300px;
    margin-bottom: 0px;
    }

    .logo{
        position: absolute;
        width: 111.17px;
        height: 27.68px;
        left: 40px;
        top: 16px;
       
    }

    .top-btn{
        position: absolute;
        width: 100px;
        right: 40px;
        top: 16px;
        background-color: #13183F;
        border-radius: 28px;
        text-align:center;
        padding: 10px;
        color: #FFFFFF;
        font-family:'Plus Jakarta Sans';
        font-size: 15px;
        line-height: 28px;
    }
    
    .logo img{
        width: 80px;
        padding: 16px;
    }

    .maxskill{
        width: 50%;
        left: 40px;

    }

    .maxskill-title{
        position: absolute;
        width: 343px;
        height: 101px;
        left: 40px;
        top: 152px;
        font-family: 'Plus Jakarta Sans';
        font-style: normal;
        font-weight: 800;
        font-size: 40px;
        line-height: 50px;
        color: #13183F;
    }
    
    .maxskill-details{
        position: absolute;
        width: 350px;
        height: 78px;
        left: 40px;
        top: 279px;
        font-family: 'Plus Jakarta Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 26px;
        color: #83869A;
    }

    .maxskill-btn{
        position: absolute;
        width: 167px;
        height: 25px;
        left: 40px;
        top: 381px;
        background: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
        border-radius: 31.5px;
        font-family:'Plus Jakarta Sans';
        font-size: 15px;
        line-height: 16px;
        color: #FFFFFF;
        text-align:center;
        padding-top: 15px;
    }


    .max-image{
        background-image: url(../assets/img-3.png);
        background-position: right top 100px;
        background-repeat: no-repeat;
        width: 50%;
        position: absolute;
        height: 720px;
        right: 0px;
        top: -92.13px;
        z-index: 1;
    }

    .service-container{
        width: 100%;
        background: linear-gradient(180deg, #FFFFFF 0%, #F0F1FF 100%);
        margin-top: 360px;
        
    }
    
    .service-inner{
        margin-left: 40px;
        margin-right: 40px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    
    }
    
    .services{
        
        height: 322px;
        left: 0px;
        top: 0px;
        border-radius: 15px;
        box-shadow: 0px 25px 50px rgba(6, 22, 141, 0.0442381);
        margin-right: 30px;
        position: relative;
        background: #FFFFFF;
        width: 50%;
    }
    
    
    .initial-service{
        background: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
    }
    
    .initial-service-text{
        height: 120px;
        font-family: 'Plus Jakarta Sans';
        font-style: normal;
        font-weight: 800;
        font-size: 32px;    
        line-height: 40px;
        color: #FFFFFF;
        margin-left: 32px;
        margin-top: 64px;
    }
    
    .service-icon{
        position: absolute;
        width: 56px;
        height: 56px;
        top: -30px;
        left: 20px;
    }
    
    .service-text-holder{
    
        width: 286px;
        height: 218px;
        margin: 64px  32px 0 32px;
    }
    
    .service-text-header{
        position: relative;
        font-family: 'Plus Jakarta Sans';
        font-style: normal;
        font-weight: 800;
        font-size: 24px;
        line-height: 30px;
        color: #13183F;
        margin-top: 10px;
    }
    
    .service-text-content{
        font-family: 'Plus Jakarta Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 28px;
        color: #83869A;
    }
    
    .link-container{
        margin-top: -25px;
        margin-left: 32px;
    }
    
    .service-text-link{
        font-family: 'Plus Jakarta Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 28px;
        color: #F74780;
        text-decoration: none;
    }
    
    .service-text-link:hover{
        color: #FFA7C3;
    }
    
    
    .service-container .service-inner:last-child{
        margin-top: 80px;
        padding-bottom: 120px;
    }
    
    
    footer{
        
        width: 100%;
        height: 120px;
        background: #13183F;
        display: flex;
    }
    
    .footer-left{
        margin-left: 40px;
        margin-top: 40px;
    
    }
    
    .footer-right{
        margin-right: 165px;
        margin-top: 40px;
        float: right;
    
    }
    .footer-logo{
        width: 111.17px;
        height: 27.68px;
    }


    
    
}
/* Desktops and laptops ---------- */
@media screen and (min-width: 1224px){
    /* styles */
}
